*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mt-50{
    margin-top: 50px;
}
.card{
    margin: auto;
}
.card-body{
    padding-top:8%;
    background-image: linear-gradient(180deg, rgb(158, 153, 153), rgb(215, 215, 227));
}
.btn-primary{
    background-image: linear-gradient(60deg,rgb(147, 113, 153),rgb(90, 117, 124));
    border: none;
}
.row{
   margin-top: 8%;
}
select{
    border: none;
}
